body {
  background-color: #000;
}
.content {
  margin: 0px auto;
  width: 1200px;
  background-image: url(img/backgroundImg.jpg);
  background-size: cover;
}
#bio {
  text-align: center;
  color: #ff4500;
  font-size: 20px;
}
.title {
  font-size: 50px;
  text-align: center;
  color: rgb(255, 51, 0);
}
.center_content {
  display: flex;
  flex-direction: column;
}
.skillsShadowraze {
  display: flex;
  margin-bottom: 20px;
}
.slills_text {
  font-size: 24px;
  color: #ff4500;
}
.skills_one_img {
  margin-right: 10px;
}
